[default]
clean_files = __pycache__ *.pyc *.zip
zip_files = metadata.txt __init__.py AtQuery.py ui/AtQuery_dockwidget.py utils/installer_utils.py core/ai_brain.py resources/resources.py resources/resources_rc.py resources/resources.qrc docs/help i18n
# The name of the dir is the name of the plugin
plugin_dir = AtQuery
# The root of the plugins dir
# Linux: ~/.local/share/QGIS/QGIS3/profiles/default/python/plugins
# OS X: ~/Library/Application Support/QGIS/QGIS3/profiles/default/python/plugins
# Windows: %APPDATA%\QGIS\QGIS3\profiles\default\python\plugins
plugins_dir = ~/Library/Application Support/QGIS/QGIS3/profiles/default/python/plugins

[plugin]
name = AtQuery

[files]
compiled_ui_files =
compiled_resources_files =
resource_files = resources.qrc
python_files = __init__.py AtQuery.py ui/AtQuery_dockwidget.py utils/installer_utils.py core/ai_brain.py resources/resources.py resources/resources_rc.py
main_dialog = ui/AtQuery_dockwidget.py
extras =
extra_dirs = docs/help i18n resources data docs utils core ui config

