[default]
clean_files = __pycache__ *.pyc *.zip
zip_files = metadata.txt __init__.py AtQuery.py AtQuery_dockwidget.py installer_utils.py ai_brain.py resources.py help i18n
# The name of the dir is the name of the plugin
plugin_dir = AtQuery
# The root of the plugins dir
# Linux: ~/.local/share/QGIS/QGIS3/profiles/default/python/plugins
# OS X: ~/Library/Application Support/QGIS/QGIS3/profiles/default/python/plugins
# Windows: %APPDATA%\QGIS\QGIS3\profiles\default\python\plugins
plugins_dir = ~/Library/Application Support/QGIS/QGIS3/profiles/default/python/plugins

[plugin]
name = AtQuery

[files]
compiled_ui_files =
compiled_resources_files =
resource_files = resources.qrc
python_files = __init__.py AtQuery.py AtQuery_dockwidget.py installer_utils.py ai_brain.py resources.py
main_dialog = AtQuery_dockwidget.py
extras =
extra_dirs = help i18n

